body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image:url("image.jpg");
    margin: 0;
    padding: 0;
}

.container {
    border: solid white;
    width: 500px;
    margin: 200px auto;
    padding: 20px;
    background: aliceBlue;
    border-radius: 10px;
}

h2 {
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: solid;
}

#result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
